<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Demo</display-name>
  <welcome-file-list>
    <welcome-file>mainPage.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginVerify</display-name>
    <servlet-name>LoginVerify</servlet-name>
    <servlet-class>demo.admin.action.LoginVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerify</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServer</display-name>
    <servlet-name>ChatServer</servlet-name>
    <servlet-class>demo.Socket.ChatServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServer</servlet-name>
    <url-pattern>/ChatServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAdmin</display-name>
    <servlet-name>ListAdmin</servlet-name>
    <servlet-class>demo.admin.action.ListAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAdmin</servlet-name>
    <url-pattern>/listadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInfo</display-name>
    <servlet-name>ListInfo</servlet-name>
    <servlet-class>demo.board.action.ListInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInfo</servlet-name>
    <url-pattern>/listinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInfo</display-name>
    <servlet-name>AdminInfo</servlet-name>
    <servlet-class>demo.admin.action.AdminInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfo</servlet-name>
    <url-pattern>/admininfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdmin</display-name>
    <servlet-name>EditAdmin</servlet-name>
    <servlet-class>demo.admin.action.EditAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdmin</servlet-name>
    <url-pattern>/editadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdminForm</display-name>
    <servlet-name>EditAdminForm</servlet-name>
    <servlet-class>demo.admin.action.EditAdminForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdminForm</servlet-name>
    <url-pattern>/editadminform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAdmin</display-name>
    <servlet-name>CreateAdmin</servlet-name>
    <servlet-class>demo.admin.action.CreateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdmin</servlet-name>
    <url-pattern>/createadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdmin</display-name>
    <servlet-name>DeleteAdmin</servlet-name>
    <servlet-class>demo.admin.action.DeleteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdmin</servlet-name>
    <url-pattern>/deleteadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInfo</display-name>
    <servlet-name>ShowInfo</servlet-name>
    <servlet-class>demo.board.action.ShowInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInfo</servlet-name>
    <url-pattern>/showinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInfoForm</display-name>
    <servlet-name>EditInfoForm</servlet-name>
    <servlet-class>demo.board.action.EditInfoForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfoForm</servlet-name>
    <url-pattern>/editinfoform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInfo</display-name>
    <servlet-name>EditInfo</servlet-name>
    <servlet-class>demo.board.action.EditInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfo</servlet-name>
    <url-pattern>/editinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateInfo</display-name>
    <servlet-name>CreateInfo</servlet-name>
    <servlet-class>demo.board.action.CreateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateInfo</servlet-name>
    <url-pattern>/createinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInfo</display-name>
    <servlet-name>DeleteInfo</servlet-name>
    <servlet-class>demo.board.action.DeleteInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInfo</servlet-name>
    <url-pattern>/deleteinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUser</display-name>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>demo.user.action.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/userlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>demo.user.action.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>demo.user.action.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>demo.user.action.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserById</display-name>
    <servlet-name>SearchUserById</servlet-name>
    <servlet-class>demo.user.action.SearchUserById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserById</servlet-name>
    <url-pattern>/searchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserByName</display-name>
    <servlet-name>SearchUserByName</servlet-name>
    <servlet-class>demo.user.action.SearchUserByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserByName</servlet-name>
    <url-pattern>/searchUserByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPackage</display-name>
    <servlet-name>SearchPackage</servlet-name>
    <servlet-class>demo.userPackage.action.SearchPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPackage</servlet-name>
    <url-pattern>/packagelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePackageState</display-name>
    <servlet-name>UpdatePackageState</servlet-name>
    <servlet-class>demo.userPackage.action.UpdatePackageState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePackageState</servlet-name>
    <url-pattern>/updatePackageState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePackage</display-name>
    <servlet-name>DeletePackage</servlet-name>
    <servlet-class>demo.userPackage.action.DeletePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePackage</servlet-name>
    <url-pattern>/deletePackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePackageByAddress</display-name>
    <servlet-name>CreatePackageByAddress</servlet-name>
    <servlet-class>demo.userPackage.action.CreatePackageByAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePackageByAddress</servlet-name>
    <url-pattern>/createPackageByAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserByAddress</display-name>
    <servlet-name>SearchUserByAddress</servlet-name>
    <servlet-class>demo.user.action.SearchUserByAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserByAddress</servlet-name>
    <url-pattern>/searchUserByAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePackage</display-name>
    <servlet-name>UpdatePackage</servlet-name>
    <servlet-class>demo.userPackage.action.UpdatePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePackage</servlet-name>
    <url-pattern>/updatePackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePackage</display-name>
    <servlet-name>CreatePackage</servlet-name>
    <servlet-class>demo.userPackage.action.CreatePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePackage</servlet-name>
    <url-pattern>/createPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPackageById</display-name>
    <servlet-name>SearchPackageById</servlet-name>
    <servlet-class>demo.userPackage.action.SearchPackageById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPackageById</servlet-name>
    <url-pattern>/searchPackageById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPackageByState</display-name>
    <servlet-name>SearchPackageByState</servlet-name>
    <servlet-class>demo.userPackage.action.SearchPackageByState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPackageByState</servlet-name>
    <url-pattern>/searchPackageByState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBooking</display-name>
    <servlet-name>ListBooking</servlet-name>
    <servlet-class>demo.booking.action.ListBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBooking</servlet-name>
    <url-pattern>/listbooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBooking</display-name>
    <servlet-name>CreateBooking</servlet-name>
    <servlet-class>demo.booking.action.CreateBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBooking</servlet-name>
    <url-pattern>/createbooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBooking</display-name>
    <servlet-name>DeleteBooking</servlet-name>
    <servlet-class>demo.booking.action.DeleteBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBooking</servlet-name>
    <url-pattern>/deletebooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSelect</display-name>
    <servlet-name>UserSelect</servlet-name>
    <servlet-class>demo.booking.action.UserSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSelect</servlet-name>
    <url-pattern>/userselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBooking</display-name>
    <servlet-name>EditBooking</servlet-name>
    <servlet-class>demo.booking.action.EditBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBooking</servlet-name>
    <url-pattern>/editbooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookingForm</display-name>
    <servlet-name>EditBookingForm</servlet-name>
    <servlet-class>demo.booking.action.EditBookingForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookingForm</servlet-name>
    <url-pattern>/editbookingform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SiteVerify</display-name>
    <servlet-name>SiteVerify</servlet-name>
    <servlet-class>demo.booking.action.SiteVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteVerify</servlet-name>
    <url-pattern>/siteverify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutVerify</display-name>
    <servlet-name>LogoutVerify</servlet-name>
    <servlet-class>demo.admin.action.LogoutVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutVerify</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchNews</display-name>
    <servlet-name>SearchNews</servlet-name>
    <servlet-class>demo.news.action.SearchNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchNews</servlet-name>
    <url-pattern>/searchNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPackageBySession</display-name>
    <servlet-name>GetPackageBySession</servlet-name>
    <servlet-class>demo.faceId.action.GetPackageBySession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPackageBySession</servlet-name>
    <url-pattern>/userPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pi</display-name>
    <servlet-name>Pi</servlet-name>
    <servlet-class>demo.faceId.action.Pi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pi</servlet-name>
    <url-pattern>/pi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chrome</display-name>
    <servlet-name>Chrome</servlet-name>
    <servlet-class>demo.faceId.action.Chrome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chrome</servlet-name>
    <url-pattern>/chrome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountPackageBySession</display-name>
    <servlet-name>CountPackageBySession</servlet-name>
    <servlet-class>demo.faceId.action.CountPackageBySession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountPackageBySession</servlet-name>
    <url-pattern>/countPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRFID</display-name>
    <servlet-name>CreateRFID</servlet-name>
    <servlet-class>demo.rfid.action.CreateRFID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRFID</servlet-name>
    <url-pattern>/createRFID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRFID</display-name>
    <servlet-name>SearchRFID</servlet-name>
    <servlet-class>demo.rfid.action.SearchRFID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRFID</servlet-name>
    <url-pattern>/RFIDList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRFID</display-name>
    <servlet-name>DeleteRFID</servlet-name>
    <servlet-class>demo.rfid.action.DeleteRFID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRFID</servlet-name>
    <url-pattern>/deleteRFID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRFID</display-name>
    <servlet-name>UpdateRFID</servlet-name>
    <servlet-class>demo.rfid.action.UpdateRFID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRFID</servlet-name>
    <url-pattern>/updateRFID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRFIDById</display-name>
    <servlet-name>SearchRFIDById</servlet-name>
    <servlet-class>demo.rfid.action.SearchRFIDById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRFIDById</servlet-name>
    <url-pattern>/searchRFIDById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPackageByRFID</display-name>
    <servlet-name>SearchPackageByRFID</servlet-name>
    <servlet-class>demo.userPackage.action.SearchPackageByRFID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPackageByRFID</servlet-name>
    <url-pattern>/searchPackageByRFID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>API_Site_Verify</display-name>
    <servlet-name>API_Site_Verify</servlet-name>
    <servlet-class>demo.faceId.action.API_Site_Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>API_Site_Verify</servlet-name>
    <url-pattern>/apisiteverify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>API_ListInfo</display-name>
    <servlet-name>API_ListInfo</servlet-name>
    <servlet-class>demo.faceId.action.API_ListInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>API_ListInfo</servlet-name>
    <url-pattern>/apilistinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>API_ShowInfo</display-name>
    <servlet-name>API_ShowInfo</servlet-name>
    <servlet-class>demo.faceId.action.API_ShowInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>API_ShowInfo</servlet-name>
    <url-pattern>/apishowinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChromeLogOut</display-name>
    <servlet-name>ChromeLogOut</servlet-name>
    <servlet-class>demo.faceId.action.ChromeLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChromeLogOut</servlet-name>
    <url-pattern>/chromeLogout</url-pattern>
  </servlet-mapping>
</web-app>